@using Retail_Api.Models;
@model Category
@{
    ViewData["Title"] = "Edit Category";
}

<div  class="mt-4">
    <h3>Edit Category</h3>
    <form asp-controller="Category" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="productName">Category Name</label>
            <input type="text" asp-for="Name" value="@Model.Name" class="form-control" >
        </div>
        <div class="form-group">
            <label for="productName">Category Description</label>
            <input type="text" asp-for="Description" value="@Model.Description" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div